**/*.log
**/*.md
**/*.php~
**/*.dist.php
**/*.dist
**/*.cache
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/compose.*.yaml
**/compose.*.yml
**/compose.yaml
**/compose.yml
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Thumbs.db
.github/
docs/
symfony/public/bundles/
symfony/tests/
symfony/var/
symfony/vendor/
symfony/node_modules/
symfony/public/build/
.editorconfig
symfony/.env.*.local
symfony/.env.local
symfony/.env.local.php
symfony/.env.test
