###> symfony/framework-bundle ###
/symfony/.env.local
/symfony/.env.local.php
/symfony/.env.*.local
/symfony/config/secrets/prod/prod.decrypt.private.php
/symfony/public/bundles/
/symfony/var/
/symfony/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/symfony/phpunit.xml
/symfony/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/webpack-encore-bundle ###
/symfony/node_modules/
/symfony/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

.idea/
.DS_Store
