APP_ENV=dev
APP_SECRET=une_chaine_aleatoire_32_caracteres

POSTGRES_DB=edj
POSTGRES_USER=root
POSTGRES_PASSWORD=ton_mot_de_passe
POSTGRES_VERSION=16

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}?serverVersion=${POSTGRES_VERSION}&charset=utf8"

MERCURE_PUBLISHER_JWT_KEY=une_cle_secrete_mercure
MERCURE_SUBSCRIBER_JWT_KEY=une_cle_secrete_mercure
MERCURE_JWT_SECRET=une_cle_secrete_mercure
